<div id="newsReader">

	<table style="width:100%">
		<thead>	
			<tr>
				<th id="headlines" ng-click="switchTab('headlines')"><i class="fa fa-newspaper-o fa-lg"></i> Headlines</th>
				<th id="technology" ng-click="switchTab('technology')"><i class="fa fa-desktop fa-lg"></i> Technology</th>
				<th id="business" ng-click="switchTab('business')"><i class="fa fa-line-chart fa-lg"></i> Business</th>
			</tr>
		</thead>
	</table>

	<table style="width:100%">
		<tbody id="body">
		</tbody>
	</table>

	<div style="width:100%; text-align: center">The articles displayed above are proptery of their orginal publishers and are not endorsed or specifically selected by group 38. News articles retrieved via NewsAPI.</div>


</div>
